<div class="modal fade" bsModal #staticModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left modal-primary">Allert</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="staticModal.hide()">
                    <span aria-hidden="true">&nbsp;&nbsp;&times;&nbsp;&nbsp;</span>
                </button>
            </div>
            <div class="modal-body">
                {{myMessage}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" (click)="staticModal.hide()">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- /.row -->
<!-- <div *ngIf="triggerk" class="alert alert-success alert-dismissable">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <i class="fa fa-enevlope fa-fw"></i>
    <strong>{{myMessage}}</strong>
</div> -->


<div class="page login-page">
    <div class="container">
        <div class="form-outer text-center  align-items-center">
            <div class="form-inner" style="width: 500px;">
                 <!-- success message -->
                 <div *ngIf="successTrigger" class="alert alert-success alert-dismissable">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close" (click)="setAlertOff()">&times;</a>
                    <i class="fa fa-check"></i>
                    <strong>Success</strong>
                    <br>
                    <span class="alertMessage">{{myMessage}}</span>
                </div>
                <!-- error message -->
                <div *ngIf="errorTrigger" class="alert alert-danger alert-dismissable">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close" (click)="setAlertOff()">&times;</a>
                    <i class="fa fa-warning fa-fw"></i>
                    <strong>Error!</strong>
                    <br>
                    <span class="alertMessage">{{myMessage}}</span>
                </div>
                <div class="logo text-uppercase">
                    <strong class="text-primary">EPMS</strong>
                </div>
                <h2>Reset Password</h2>
                <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p> -->
                <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
                    <div class="form-group">
                        <label for="newPassword" class="pull-left">New password</label>

                        <input [formControl]="newPassword" type="password" name="password" id ="newPassword" required class="form-control">
                        <span *ngIf="!newPassword.valid && newPassword.touched  " class="help-block sub-little-text" style="color:red">Minimum length is 4 charecters.</span>

                    </div>
                    <div class="form-group">
                        <label for="repeatPassword" class="pull-left">Confirm password</label>
                        <input [formControl]="repeatPassword" type="password" id="repeatPassword" name="repeatPassword" required class="form-control">

                        <span *ngIf="!passwords.valid && (newPassword.touched || repeatPassword.touched)" class="help-block sub-little-text" style="color:red">Passwords don't match.</span>

                    </div>

                    <div class="form-group" *ngIf="!showLoginLink">
                        <div class="col-offset-sm-9 col-sm-12">
                            <button [disabled]="!form.valid" type="submit" class="btn btn-primary  btn-auth">
                                    <i class="fa fa-unlock-alt" aria-hidden="true"></i>
                                <i [ngClass]="{'fa fa-circle-o-notch fa-spin': changeClass}"></i>
                                Reset</button>
                        </div>
                    </div>
                    <div style="text-align:center" *ngIf="showLoginLink">
                        <p>Click here to
                            <a routerLink="/login" class="signup">Login</a>
                        </p>

                    </div>
                </form>

            </div>

        </div>
        <div class="copyrights text-center">
            <p>Design by
                <a href="http://afz-sol.com" class="external">Afz-Sol</a>
            </p>
            <!-- Please do not remove the backlink to us unless you support further theme's development at https://bootstrapious.com/donate. It is part of the license conditions. Thank you for understanding :)-->
        </div>
    </div>
</div>
