<!-- <div class="breadcrumb-holder">
  <div class="container-fluid">
    <ul class="breadcrumb">
      <li class="breadcrumb-item">
        <a routerLink="../admin-dashboard">
          <i class="fa fa-user-o"></i> Admin Dashboard</a>
      </li>
      <li class="breadcrumb-item active">
        <a>{{str[2]}}</a>
      </li>
      <li class="breadcrumb-item active">
        <a>{{str[3]}}</a>
      </li>
    </ul>
  </div>
</div> -->
<div class="container-fluid mt-4">
  <section>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <ul class="nav nav-tabs justify-content-end">
              <li class="nav-item">
                <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['organization-members']" >Members</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['organizations-team']">Teams</a>
              </li>

            </ul>
            <router-outlet  ></router-outlet>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>