<div id="top" class="modal fade" bsModal #staticModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog"
    aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left modal-primary">Alert</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="staticModal.hide()">
                    <span aria-hidden="true">&nbsp;&nbsp;&times;&nbsp;&nbsp;</span>
                </button>
            </div>
            <div class="modal-body">
                {{myMessage}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" (click)="staticModal.hide()">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- /.row -->
<!-- <div *ngIf="triggerk" class="alert alert-success alert-dismissable">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <i class="fa fa-comment fa-fw"></i>
    <strong>{{myMessage}}</strong>
</div> -->

<!-- Breadcrumb-->
<div class="breadcrumb-holder">
    <div class="container-fluid">
        <ul class="breadcrumb">
            <li class="breadcrumb-item">
                <a routerLink="../dashboard">Dashboard</a>
            </li>
            <li class="breadcrumb-item">Change password </li>
        </ul>
    </div>
</div>
<section style="margin-top:2%">

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">

                     <!-- success message -->
                <div *ngIf="successTrigger" class="alert alert-success alert-dismissable">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close" (click)="setAlertOff()">&times;</a>
                    <i class="fa fa-check"></i>
                    <strong>Success</strong>
                    <br>
                    <span class="alertMessage">{{myMessage}}</span>
                </div>
                <!-- error message -->
                <div *ngIf="errorTrigger" class="alert alert-danger alert-dismissable">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close" (click)="setAlertOff()">&times;</a>
                    <i class="fa fa-warning fa-fw"></i>
                    <strong>Error!</strong>
                    <br>
                    <span class="alertMessage">{{myMessage}}</span>
                </div>
                    <div class="card-header d-flex align-items-center">
                        <h4>
                            <i class="fa fa-lock"></i>&nbsp;Change password
                        </h4>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" class="form-horizontal">
                            <div class="form-group row">
                                <label class="col-sm-2 form-control-label">Old password</label>
                                <div class="col-sm-8">
                                    <input id="oldPassword" style="padding-left:10px" [formControl]="oldPassword" type="password" name="oldPassword" required
                                        placeholder="Enter old password" class="form-control">
                                    <span *ngIf="!oldPassword.valid && oldPassword.touched " class="help-block sub-little-text" style="color:red">Old password is required</span>

                                </div>
                            </div>
                            <div class="line"></div>
                            <div class="form-group row">
                                <label class="col-sm-2 form-control-label">New password</label>
                                <div class="col-sm-8">
                                    <input id="newPassword" style="padding-left:10px" required [formControl]="newPassword" type="password" name="newPassword"
                                        placeholder="Enter new password" required class="form-control">
                                    <span *ngIf="!newPassword.valid && newPassword.touched  && newPassword.value.length < 4" class="help-block sub-little-text" style="color:red">Minimum 4 characters are required </span>

                                </div>
                            </div>
                            <div class="line"></div>
                            <div class="form-group row">
                                <label class="col-sm-2 form-control-label">Confirm password</label>
                                <div class="col-sm-8 mb-3">
                                    <input id="repeatPassword" style="padding-left:10px" required [formControl]="repeatPassword" type="password" name="repeatPassword"
                                        placeholder="Confirm new password" required class="form-control" [ngClass]="{'has-error': (!repeatPassword.valid && repeatPassword.touched), 'has-success': (repeatPassword.valid && repeatPassword.touched)}">
                                    <span *ngIf="newPassword.value != repeatPassword.value" class="help-block sub-little-text" style="color:red">Confirm password must mach</span>

                                </div>

                            </div>
                            <div class="line"></div>

                            <div class="form-group row">
                                <div class="col-sm-4 offset-sm-2">
                                    <!-- <button type="submit" class="btn btn-secondary">Cancel</button> -->
                                    <button [disabled]="!form.valid" type="submit" class="btn btn-primary">
                                            <i class="fa fa-floppy-o" aria-hidden="true"></i>
                                        <i [ngClass]="{'fa fa-circle-o-notch fa-spin': changeClass}"></i>Save changes</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>


    </div>
</section>