<!-- Nav Menu -->

<div class="nav-menu fixed-top bgColor">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <nav class="navbar navbarLanding navbar-dark navbar-expand-lg">
                    <a class="navbar-brand" href="index.html">
                        <strong>EPMS</strong>
                        <!-- <img src="../../../assets/_LandingPage/images/logo.png" class="img-fluid" alt="logo"> -->
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbar">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link" (click)="scrollToTop(home)">HOME
                                    <span class="sr-only">(current)</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" (click)="scrollToTop(features)" routerLinkActive="active">FEATURES</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" (click)="scrollToTop(pricing)" routerLinkActive="active">PRICING</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" (click)="scrollToTop(contact)" routerLinkActive="active">CONTACT</a>
                            </li>

                            <li class="nav-item">
                                <a routerLink="/login" class="btn btn-outline-light my-3 my-sm-0 ml-lg-3">Signin</a>
                            </li>
                            <li class="nav-item">
                                <a routerLink="/admin-signup" class="btn btn-outline-light my-3 my-sm-0 ml-lg-3">Signup</a>
                            </li>


                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>


<header class="bg-gradient" id="home" #home>
    <div class="container mt-5" style="padding-bottom: 20%;padding-top:10%">
        <h1>EPMS App Landing Page Template</h1>
        <p class="tagline">The one and only solution for any kind of mobila app landing needs. Just change the screenshots and texts and you
            are good to go. </p>
    </div>
</header>

<div #features style="padding-top:40px"></div>

<div class="section" id="features">

    <div class="container">
        <div class="section-title">
            <small>Features</small>
            <h3>Our Prducts offers You Best Features</h3>
        </div>
        <div class="row">
            <div class="col-md-6">
                <img src="../../../assets/_LandingPage/EMPS-Ss/workingHours.png" alt="dual phone" class="img-fluid img-responsive">
            </div>
            <div class="col-md-6 d-flex align-items-center">
                <div>
                    <div class="box-icon">
                        <span class="ti-image gradient-fill ti-3x"></span>
                    </div>
                    <h2>Launch your App</h2>
                    <p class="mb-4">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Obcaecati vel exercitationem eveniet vero maxime
                        ratione </p>
                    <!-- <a href="#" class="btn btn-primary">Read more</a> -->
                </div>
            </div>
        </div>

    </div>

</div>
<!-- // end .section -->

<div class="section">

    <div class="container">
        <div class="row">
            <div class="col-md-6 d-flex align-items-center">
                <div>
                    <div class="box-icon">
                        <span class="ti-image gradient-fill ti-3x"></span>
                    </div>
                    <h2>Launch your App</h2>
                    <p class="mb-4">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Obcaecati vel exercitationem eveniet vero maxime
                        ratione </p>
                    <a href="#" class="btn btn-primary">Read more</a>
                </div>
            </div>
            <div class="col-md-6">
                <img src="../../../assets/_LandingPage/EMPS-Ss/workChart.png" alt="dual phone" class="img-fluid img-responsive">
            </div>

        </div>

    </div>

</div>
<!-- // end .section -->


<div class="section">

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="../../../assets/_LandingPage/EMPS-Ss/appChart.png" alt="dual phone" class="img-fluid img-responsive">
            </div>
            <div class="col-md-6 d-flex align-items-center">
                <div>
                    <div class="box-icon">
                        <span class="ti-image gradient-fill ti-3x"></span>
                    </div>
                    <h2>Launch your App</h2>
                    <p class="mb-4">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Obcaecati vel exercitationem eveniet vero maxime
                        ratione </p>
                    <a href="#" class="btn btn-primary">Read more</a>
                </div>
            </div>
        </div>

    </div>

</div>
<!-- // end .section -->

<div class="section">

    <div class="container">
        <div class="row">
            <div class="col-md-6 d-flex align-items-center">
                <div>
                    <div class="box-icon">
                        <span class="ti-image gradient-fill ti-3x"></span>
                    </div>
                    <h2>Launch your App</h2>
                    <p class="mb-4">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Obcaecati vel exercitationem eveniet vero maxime
                        ratione </p>
                    <a href="#" class="btn btn-primary">Read more</a>
                </div>
            </div>
            <div class="col-md-6">
                <img src="../../../assets/_LandingPage/EMPS-Ss/workingHoursChart.png" alt="dual phone" class="img-fluid img-responsive">
            </div>

        </div>

    </div>

</div>
<!-- // end .section -->
<div class="section">

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="../../../assets/img/activityWebCam.png" alt="dual phone" class="img-fluid img-responsive">
            </div>
            <div class="col-md-6 d-flex align-items-center">
                <div>
                    <div class="box-icon">
                        <span class="ti-image gradient-fill ti-3x"></span>
                    </div>
                    <h2>Launch your App</h2>
                    <p class="mb-4">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Obcaecati vel exercitationem eveniet vero maxime
                        ratione </p>
                    <a href="#" class="btn btn-primary">Read more</a>
                </div>
            </div>
        </div>

    </div>

</div>
<!-- // end .section -->

<div class="section">

    <div class="container">
        <div class="row">
            <div class="col-md-6 d-flex align-items-center">
                <div>
                    <div class="box-icon">
                        <span class="ti-image gradient-fill ti-3x"></span>
                    </div>
                    <h2>Launch your App</h2>
                    <p class="mb-4">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Obcaecati vel exercitationem eveniet vero maxime
                        ratione </p>
                    <a href="#" class="btn btn-primary">Read more</a>
                </div>
            </div>
            <div class="col-md-6">
                <img src="../../../assets/_LandingPage/EMPS-Ss/activityScreenshot.png" alt="dual phone" class="img-fluid img-responsive">
            </div>

        </div>

    </div>

</div>
<!-- // end .section -->


<div class="section light-bg">

    <div class="container">
        <div class="row">
            <div class="col-md-4 d-flex align-items-start">
                <ul class="list-unstyled ui-steps">
                    <li class="media">
                        <div class="circle-icon mr-4">1</div>
                        <div class="media-body">
                            <h5>Create an Account</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer rutrum, urna eu pellentesque
                                pretium obcaecati vel exercitationem </p>
                        </div>
                    </li>
                    <li class="media my-4">
                        <div class="circle-icon mr-4">2</div>
                        <div class="media-body">
                            <h5>Share with friends</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer rutrum, urna eu pellentesque
                                pretium obcaecati vel exercitationem eveniet</p>
                        </div>
                    </li>
                    <li class="media">
                        <div class="circle-icon mr-4">3</div>
                        <div class="media-body">
                            <h5>Enjoy your life</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer rutrum, urna eu pellentesque
                                pretium obcaecati vel exercitationem </p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-md-8">
                <img src="../../../assets/img/multiTC.png" style="height: 100% !important" alt="iphone" class="img-fluid">
            </div>

        </div>

    </div>

</div>
<!-- // end .section -->

<div #pricing style="padding-top: 40px;"></div>

<!-- <div class="section pt-0" id="pricing" >
    <div class="container">
        <div class="section-title">
            <small>PRICING</small>
            <h3>Upgrade to Pro</h3>
        </div>

        <div class="row">
        <div class="col-md-12 col-lg-12">
                <pricing></pricing>

        </div>



        </div>

    </div>

</div> -->
<!-- // end .section -->
<!-- pricing section -->

<div class="section" id="pricing">
    <div class="container">
        <div class="section-title">
            <small>PRICING</small>
            <h3>Upgrade to Pro</h3>
        </div>

        <div class="card-deck">
            <div class="card pricing">
                <div class="card-head">
                    <small class="text-primary">PERSONAL</small>
                    <span class="price">$14
                        <sub>/m</sub>
                    </span>
                </div>
                <ul class="list-group list-group-flush">
                    <div class="list-group-item">10 Projects</div>
                    <div class="list-group-item">5 GB Storage</div>
                    <div class="list-group-item">Basic Support</div>
                    <div class="list-group-item">
                        <del>Collaboration</del>
                    </div>
                    <div class="list-group-item">
                        <del>Reports and analytics</del>
                    </div>
                </ul>
                <div class="card-body">
                    <a href="#" class="btn btn-primary btn-lg btn-block">Choose this Plan</a>
                </div>
            </div>
            <div class="card pricing popular">
                <div class="card-head">
                    <small class="text-primary">FOR TEAMS</small>
                    <span class="price">$29
                        <sub>/m</sub>
                    </span>
                </div>
                <ul class="list-group list-group-flush">
                    <div class="list-group-item">Unlimited Projects</div>
                    <div class="list-group-item">100 GB Storage</div>
                    <div class="list-group-item">Priority Support</div>
                    <div class="list-group-item">Collaboration</div>
                    <div class="list-group-item">Reports and analytics</div>
                </ul>
                <div class="card-body">
                    <a href="#" class="btn btn-primary btn-lg btn-block">Choose this Plan</a>
                </div>
            </div>
            <div class="card pricing">
                <div class="card-head">
                    <small class="text-primary">ENTERPRISE</small>
                    <span class="price">$249
                        <sub>/m</sub>
                    </span>
                </div>
                <ul class="list-group list-group-flush">
                    <div class="list-group-item">Unlimited Projects</div>
                    <div class="list-group-item">Unlimited Storage</div>
                    <div class="list-group-item">Collaboration</div>
                    <div class="list-group-item">Reports and analytics</div>
                    <div class="list-group-item">Web hooks</div>
                </ul>
                <div class="card-body">
                    <a href="#" class="btn btn-primary btn-lg btn-block">Choose this Plan</a>
                </div>
            </div>
        </div>
        <!-- // end .pricing -->


    </div>

</div>
<!-- // end .section -->

<div class="section pt-0">
    <div class="container">
        <div class="section-title">
            <small>FAQ</small>
            <h3>Frequently Asked Questions</h3>
        </div>

        <div class="row pt-4">
            <div class="col-md-6">
                <h4 class="mb-3">Can I try before I buy?</h4>
                <p class="light-font mb-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer rutrum, urna eu pellentesque pretium, nisi
                    nisi fermentum enim, et sagittis dolor nulla vel sapien. Vestibulum sit amet mattis ante. </p>
                <h4 class="mb-3">What payment methods do you accept?</h4>
                <p class="light-font mb-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer rutrum, urna eu pellentesque pretium, nisi
                    nisi fermentum enim, et sagittis dolor nulla vel sapien. Vestibulum sit amet mattis ante. </p>

            </div>
            <div class="col-md-6">
                <h4 class="mb-3">Can I change my plan later?</h4>
                <p class="light-font mb-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer rutrum, urna eu pellentesque pretium, nisi
                    nisi fermentum enim, et sagittis dolor nulla vel sapien. Vestibulum sit amet mattis ante. </p>
                <h4 class="mb-3">Do you have a contract?</h4>
                <p class="light-font mb-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer rutrum, urna eu pellentesque pretium, nisi
                    nisi fermentum enim, et sagittis dolor nulla vel sapien. Vestibulum sit amet mattis ante. </p>

            </div>
        </div>
    </div>

</div>
<!-- // end .section -->



<div class="section bg-gradient">
    <div class="container">
        <div class="call-to-action">

            <div class="box-icon">
                <span class="ti-mobile gradient-fill ti-3x"></span>
            </div>
            <h2>Download Anywhere</h2>
            <p class="tagline">Available for all major mobile and desktop platforms. Rapidiously visualize optimal ROI rather than enterprise-wide
                methods of empowerment. </p>
            <div class="my-4">

                <a href="#" class="btn btn-light">
                    <img src="../../../assets/_LandingPage/images/appleicon.png" alt="icon"> App Store</a>
                <a href="#" class="btn btn-light">
                    <img src="../../../assets/_LandingPage/images/playicon.png" alt="icon"> Google play</a>
            </div>
            <p class="text-primary">
                <small>
                    <i>*Works on iOS 10.0.5+, Android Kitkat and above. </i>
                </small>
            </p>
        </div>
    </div>

</div>
<!-- // end .section -->
<div></div>

<div class="light-bg py-5" id="contact" #contact>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 text-center text-lg-left">
                <p class="mb-2">
                    <span class="ti-location-pin mr-2"></span> 1485 Pacific St, Brooklyn, NY 11216 USA</p>
                <div class=" d-block d-sm-inline-block">
                    <p class="mb-2">
                        <span class="ti-email mr-2"></span>
                        <a class="mr-4" href="mailto:support@mobileapp.com">support@mobileapp.com</a>
                    </p>
                </div>
                <div class="d-block d-sm-inline-block">
                    <p class="mb-0">
                        <span class="ti-headphone-alt mr-2"></span>
                        <a href="tel:51836362800">518-3636-2800</a>
                    </p>
                </div>

            </div>
            <div class="col-lg-6">
                <div class="social-icons">
                    <a href="#">
                        <span class="ti-facebook"></span>
                    </a>
                    <a href="#">
                        <span class="ti-twitter-alt"></span>
                    </a>
                    <a href="#">
                        <span class="ti-instagram"></span>
                    </a>
                </div>
            </div>
        </div>

    </div>

</div>
<!-- // end .section -->

<footer class="my-5 text-center">
    <!-- Copyright removal is not prohibited! -->
    <p class="mb-2">
        <small>COPYRIGHT © 2017. ALL RIGHTS RESERVED. MOBAPP TEMPLATE BY
            <a href="https://colorlib.com">COLORLIB</a>
        </small>
    </p>

    <small>
        <a href="#" class="m-2">PRESS</a>
        <a href="#" class="m-2">TERMS</a>
        <a href="#" class="m-2">PRIVACY</a>
    </small>
</footer>